.container {
	width: 80%;
	min-width: 350px;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.game-board {
	width: 100%;
	height: 500px;
	position: relative;
	background-color: lime;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.card-pack {
	flex-basis: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.player-score {
	flex-basis: 20%;
}

.computer-score {
	flex-basis: 20%;
}

.player-hand {
	flex-basis: 70%;
}

.computer-hand {
	flex-basis: 70%;
}

@keyframes pisca-pisca{
	from {opacity: 1}
	to {opacity: 0}
}

.play-button {
	width: 150px;
	height: 100px;
	flex-basis: 100%;
	font-size: 50px;
	background: transparent;
	border: none;
	animation-name: pisca-pisca;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.alert{
	font-size: 24px;
}

img {
	width: 100px;
	height: 140px;
}

.aces {
	position: absolute;
	width: 100%;
	height: 80%;
}

.invisible {
	display: none;
}

.final-message {
	position: absolute;
	font-size: 50px;
	color: tomato;
	animation: pisca-pisca 1s infinite;
}
